@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/*header section css*/
#header-section {
  padding: 30px 80px;
  display: flex;
}
.logo {
  font-size: 25px;
  font-weight: 700;
  width: 50%;
  align-items: flex-start;
}
.logo h1 {
  color: tomato;
}
.logo h1 span {
  color: orange;
}
.menu {
  width: 50%;
}
.menu ul li {
  display: inline-block;
  padding: 15px;
  margin-right: 15px;
}
.menu ul li a {
  color: orange;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
}
.container {
  display: flex;
  padding: 20px 80px;
}
.banner-text {
  width: 50%;
}
h1 {
  font-size: 30px;
  font-weight: 700;
}
.highlight {
  color: orange;
}
.desc {
  margin: 20px 0;
  font-size: 22px;
  padding: 10px;
}
.banner-text a,
.about-text a {
  color: #fff;
  padding: 10px 30px;
  border-radius: 30px;
  background-image: linear-gradient(180deg, orange, tomato);
}
.banner-img {
  width: 50%;
}
.banner-img img {
  width: 80%;
  margin-left: 10%;
}
#about {
  background-image: url(../img/about-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.about-text {
  width: 50%;
  margin-top: 40px;
}
.about-text p {
  font-size: 22px;
  margin: 30px 0;
}
#recipies {
  padding: 30px 80px;
}
.recipie-title {
  text-align: center;
}
.recipie-title h1 {
  font-size: 38px;
  font-weight: 700;
  color: orange;
  margin-bottom: 10px;
}
.recipie-title p {
  width: 30%;
  margin: 0 auto;
}
.item {
  width: 30%;
  margin: 2%;
  padding: 3%;
  border-radius: 10px;
  box-shadow: 2px 6px 10px grey;
}
.item img {
  width: 100%;
}
.item h2 {
  color: tomato;
  margin-top: 8px;
}
#social-count {
  width: 77%;
  margin: 0 auto;
  padding: 50px 40px;
  border-radius: 15px;
  box-shadow: 0px 0px 4px grey;
}
.social-item {
  width: 33%;
  text-align: center;
}

/*newsletter css start here*/
#newsletter {
  margin-top: 40px;
  padding: 30px 80px;
  background-image: url(../img/news.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe {
  text-align: center;
  padding: 50px 0;
}
.subscribe h1 {
  padding-bottom: 60px;
  color: darkgray;
  font-weight: 400;
}
.contact-mail {
  width: 32%;
  padding: 20px;
  border: none;
  background: transparent;
  border-bottom: 1px solid #000;
  margin-bottom: 35px;
}

.contact-mail:focus {
  outline: 0;
}
.contact-mail::placeholder {
  color: #626262;
  font-size: 14px;
  font-weight: 300;
}
.btn-send {
  padding: 10px 45px;
  background-image: linear-gradient(180deg, rgb(194, 164, 107), orange);
  border-radius: 25px;
  color: rgb(66, 49, 49);
}

/*footer class css*/
.footer {
  padding: 80px 80px;
  background: #000;
}
.footer-text {
  text-align: center;
}
.footer-text h1 {
  color: gray;
}
.footer-text p {
  color: gray;
}
